.account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 400px;
  padding: 20px 20px;
  border-radius: 30px;
  padding-top: 50px;
  background-color: #fbfbfb;
}
.account-form:hover {
  background-color: #d4e8fc;
}
.accountform_main {
  background-image: url("../images/homepgae_amistudy.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.account-form input,
.account-form select {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.account-form select {
  width: 100%;
}

.account-form button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.account-form button:hover {
  background-color: #0069d9;
}

.accountform_main {
  background-image: url("../images/AmiStudy_main.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
