.account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  max-width: 400px;
}
.account-form:hover {
  background-color: #d4e8fc;
}

.account-form input,
.account-form select {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.account-form select {
  width: 100%;
}

.account-form button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.account-form button:hover {
  background-color: #0069d9;
}
.about{
  
}