body {
  text-align: center;
  width: 100%;
  font-family: Arial, sans-serif;
}
.Main_data {
  align-items: center;
}

h1 {
  font-size: 40px;
  color: #333;
}
.maindata{
 width:fit-content;
 background-color: rgb(242, 255, 255);
 padding: 20px;
 margin-left: 400px;
 border-radius: 30px;
 

 
}
h3 {
  font-size: 26px;
  color: #555;
  margin-top: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-top: 20px;
}

.iagreebtn {
  background-color: #ff5579;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.iagreebtn:hover {
  background-color: #0077a3;
}
.Main_data {
  background-image: url("../images/AmiStudy_main.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 300px;
}
