.chat-container-header {
  padding: 20px;
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid lightgray;
  
}
.profile {
  display: flex;
  flex-direction: row;
  gap:20px;
  padding-top: 20px;
}
.img-container {
    width: 80px;
    height: 90px;
   border-radius: 5px;
}
.images_cont {
  width: 70px;
  height: 70px;
}
.img_username {
  font-size: 20px;
  font-weight: 900;
}
