.Dashboard_Main {
  background-image: url("../images/homepgae_amistudy.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.swipe {
  position: absolute;
}

.cardContainer {
  width: 100vw;
  height: 500px;
  padding: 30px 30px;
}
.cardContainer_outer {
  padding-left: 150px;
}

.card_perimg {
  background-color: #fff;
  width: 80vw;
  height: 500px;
  box-shadow: 0px 0px 60px 0px rgba(120, 164, 227, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.img_container {
  width: 250px;
  height: 300px;
  padding-top: 20px;

 
}
.cardsimg{
  width: 220px;
  height: 250px;
  border-radius: 100px;
  
}
.cardContent {
  width: 100%;
  height: 100%;
}
.card_pername{
  padding-right: 120vh;

}
.card_perabout{
  padding-right: 100vh;

}
.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: rgb(183, 24, 24);
}

.infoText {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 270px;
}

@media (max-width: 625px) {
  .buttons {
    flex-direction: column;
  }
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.buttons button:hover {
  transform: scale(1.05);
}
